.intro__redes--flex {
    display: flex;
    margin-top: 2rem;
}

.redes_item {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    margin-right: 1rem;
}

.redes__link{
    color: var(--green-light);
}
