.hobbies__container--flex {
    display: flex;
    justify-content: space-around;
}

.hobbies__iten--flex {
    align-items: flex-start;
    background: var(--white-word);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 7rem;
    justify-content: end;
    margin-bottom: 20px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 20px;
    width: 10rem;
}

.hobbies__icon {
    height: 2rem;
    margin-left: 1rem;
    padding-bottom: 1rem;
}

.hobbies__nombre {
    font-family: 'Inter', sans-serif;
    font-size: 0.7rem;
    font-weight: bold;
    margin-left: 1rem;
    padding-bottom: 0.5rem;

}