@media only screen and (max-width: 768px) {

    .skills__container--flex {
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }

    .skills__iten--flex {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        margin-top: 20px;
        width: 30%;
    }

}