:root {
    --background-base: rgb(23,25,24);
    --white-word: rgb(230, 230, 230);
    --white-word-dark: rgb(177, 177, 177);
    --green-light:rgb(128, 246, 198);
    --background-light: rgb(139,161,123);
    --blue: rgb(116,170,198);


    --orange: rgb(210,180,126);

    
    --a1:rgb(21,54,99);
    --a2:rgb(14,34,33);
    --a3:rgb(59, 92, 122);
    --a4:rgb(57,71,56);



    --b1:rgb(38,64,89);
    --b2:rgb(14,36,60);
    --b3:rgb(31,56,112);
    --b4:rgb(60,76,138);
    --b5:rgb(104,108,181);
    --b6:rgb(40,85,78);
    --b7:rgb(17,53,69);
    --b8:rgb(153, 77, 77);

}