@media only screen and (max-width: 768px) {


    .formacion__container--grid {
        grid-template-rows: 20% 50% 6% 6%;
        margin-left: 3vw;
        margin-right: 3vw;
        width: calc(100% - 6vw);
    }

    .institucion__periodo1 {
        padding-top: 0.5rem;
    }

    .institucion__periodo2 {
        padding-top: 0.5rem;
    }

    .institucion__periodo3 {
        padding-top: 0.5rem;
    }


}