.exp0__container--flex {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
    padding-top: 0.2rem;
}

.exp0__imagen {
    animation: exp0 5s;
    animation-iteration-count: infinite;
    background: url(../../img/proyectos/scene1.png) no-repeat center/contain;
    height: 290px;
    width: 500px;
}

@keyframes exp0 {
    0% {
        background: url(../../img/proyectos/scene1.png) no-repeat center/contain;
    }

    33% {
        background: url(../../img/proyectos/scene2.png) no-repeat center/contain;
    }

    66% {
        background: url(../../img/proyectos/scene3.png) no-repeat center/contain;
    }
}

.exp0__titulo {
    color: var( --white-word);
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    padding-top: 5rem;
}

.exp0__descripcion {
    color: var( --white-word);
    font-family: 'Inter', sans-serif;
    font-size: 0.6rem;
    margin-top: 0.2rem;
}

.exp0__game{
    background: url(../../img/proyectos/game1.png) no-repeat center/contain;
    height: 100px;
}